:root {
  scroll-behavior: smooth;
  --primary-main: #08afb8;
  --primary-color: #d42027;
  --primary-color-black: #000;
  --primary-color-green: #13855c;
}

body {
  background: #fff;
  background-color: #f1f5f5;
  font-family: "Nunito", sans-serif;
  line-height: 27px;
  font-size: 15px;
}

*,
::after,
::before {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  color: initial;
}

.f-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.c-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-4 {
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  width: calc(25% - 30px);
  padding-left: 15px;
  padding-right: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.none {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

.heading-main {
  margin-bottom: 2.5rem;
}
.heading-main__title {
  color: var(--primary-main) !important;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1;
  text-align: center;
}
.heading-main__desc {
  color: #7f8893 !important;
  font-weight: normal !important;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px !important;
  max-width: 800px;
  text-align: center;
}

.header-hotline {
  margin-left: 25px;
}

.phone-menu {
  padding: 29.5px 0;
}
.phone-menu a {
  color: #fff;
  padding: 14px 34px 14px 26px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  line-height: 1;
  background: transparent linear-gradient(179deg, #1AE6CD 0%, #08AFB8 100%) 0% 0% no-repeat padding-box;
  box-shadow: 3px 9px 6px rgba(0, 175, 181, 0.1607843137);
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
  text-shadow: 1px 1px 0px #1FA6AA;
  text-decoration: none;
}
.phone-menu a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.header-menu ul {
  display: inline-table;
}
.header-menu ul li {
  display: inline-block;
  position: relative;
}
.header-menu .menu .menu-item a {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  padding: 42px 15px;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
  font-weight: bold;
}
.header-menu .menu .menu-item.active a {
  color: #08AFB8;
}
.header-menu .menu .sub-menu {
  background: none repeat scroll 0 0 #fff;
  border-top: 0 none;
  left: 17px;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  position: absolute;
  top: 70%;
  padding: 0;
  width: 300px;
  background-color: #fff !important;
  border-radius: 8px;
}
.header-menu .menu .sub-menu:after {
  top: -15px;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.25s;
  left: 10%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.header-menu .menu .sub-menu li {
  display: list-item;
  list-style: none;
  margin: 5px 0;
}
.header-menu .menu .sub-menu li a {
  line-height: normal;
  padding: 8px !important;
  text-transform: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: all 300ms ease-in-out 0s;
}
.header-menu .sub-menu .menu-item:hover {
  background: #08afb8;
}
.header-menu .sub-menu .menu-item:hover > a {
  padding-left: 8px !important;
  color: white;
}
.header-menu .sub-menu .sub-menu {
  position: absolute;
  left: 105%;
  top: -5px;
}
.header-menu .sub-menu .sub-menu:after {
  top: 10px;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.25s;
  left: -2.5%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
  transform: rotate(270deg);
}
.header-menu .main-item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.header-menu .menu-item-sub:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.about {
  padding-top: 80px;
}
.about .about-left {
  width: 100%;
  max-width: 650px;
}

.about-left__infomation--heading {
  font-size: 34px;
  color: #3a3b54;
  line-height: 130%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.about-left__infomation--slogan {
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 0px;
  color: #ee6f28 !important;
  font-weight: bold;
}
.about-left__infomation--description {
  font-size: 16px;
  line-height: 34px;
  margin: 2rem 0;
}
.about-left__infomation--action a {
  font-weight: bold;
  border-radius: 8px !important;
  opacity: 1;
  border-width: 0 !important;
  text-align: center;
  font-size: 16px !important;
  line-height: 21px !important;
  letter-spacing: 0;
  text-transform: none !important;
  padding: 17px 40px !important;
  color: #3a3b54;
  text-decoration: none;
}
.about-left__infomation--action a:hover {
  transform: translateY(-5px);
  box-shadow: 3px 17px 8px -5px rgba(255, 161, 81, 0.27);
}
.about-left__infomation--action a.action-contact {
  background: transparent linear-gradient(180deg, #1ae6cd 0%, #08afb8 100%) 0% 0% no-repeat padding-box !important;
  text-shadow: 1px 1px 0px #1fa6aa;
  transition: all 0.3s;
  box-shadow: 3px 9px 6px rgba(0, 175, 181, 0.15);
  color: rgba(255, 255, 255, 0.99);
}
.about-left__infomation--action a.action-hotline {
  margin-left: 1.5rem;
  background: transparent linear-gradient(180deg, #ffffff 0%, #ffffff 70%, #f1f5f5 100%) 0% 0% no-repeat padding-box !important;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.0784313725);
  text-shadow: 1px 1px 0px #f1f5f5;
  transition: all 0.3s;
}

.business {
  padding: 80px 0;
  background: #fff;
}
.business .business-list {
  margin-top: 3rem;
}

.business-list__item {
  justify-content: space-between;
}
.business-list__item:not(:last-child) {
  margin-bottom: 10rem;
}
.business-list__item--left {
  max-width: 50%;
}
.business-list__item-reverse {
  flex-direction: row-reverse;
}
.business-list__item .number {
  font-size: 66px;
  color: rgba(189, 204, 204, 0.5);
  line-height: 40px;
  text-align: left;
  margin-bottom: 30px !important;
}
.business-list__item .title {
  margin-bottom: 1rem;
}
.business-list__item .title h2 {
  font-size: 32px;
  color: #d86221;
  line-height: 40px;
  text-align: left;
  font-weight: bold;
}
.business-list__item .des {
  line-height: 27px;
  font-size: 16px;
  color: #152c47;
}

.business-list__wrap {
  margin-top: 1rem;
}
.business-list__wrap--item:not(:last-child) {
  margin-bottom: 1rem;
}
.business-list__wrap .business-list__wrap--item-box {
  display: flex;
  justify-content: start;
}
.business-list__wrap .business-list__wrap--item-box .box-icon {
  margin-right: 20px;
  text-align: center;
}
.business-list__wrap .business-list__wrap--item-box .box-icon__check {
  font-weight: bold;
  color: var(--primary-main);
  font-size: 15px;
}
.business-list__wrap .business-list__wrap--item-box .box-content {
  text-align: left;
}
.business-list__wrap .business-list__wrap--item-box .box-content__title h3 {
  font-weight: bold;
  font-size: 19px;
  color: #152c47;
}
.business-list__wrap .business-list__wrap--item-box .box-content__title p {
  font-size: 16px;
  color: rgb(21, 44, 71);
  line-height: 27px;
}

/** ################################# **/
.why {
  padding: 80px 0px;
}

.why-wrap {
  margin-top: 2.5rem;
}

.why-wrap__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.why-wrap__grid .item-why {
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.why-wrap__grid .item-why .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  background: #fff;
}
.why-wrap__grid img {
  width: 100%;
  display: block;
}
.why-wrap__grid .box .figure {
  margin: 0px;
}
.why-wrap__grid .box h3 {
  font-size: 24px;
  color: var(--primary-main);
  font-weight: 700;
  margin-bottom: 18px;
  margin: 1rem 0px;
}

/** ################################# **/
.features {
  padding: 80px 0px;
  background: #fff;
}
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  cursor: pointer;
  background: #fff;
}
.features .feature-box h3 {
  font-size: 18px;
  color: var(--primary-main);
  font-weight: 700;
  margin: 0;
}
.features .feature-box .svg {
  display: block;
  line-height: 0;
  height: 32px;
  width: 32px;
  position: relative;
  background: #ecf3ff;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}
.features .feature-box .svg:hover {
  background: #1cc88a;
  color: #fff;
}
.features .feature-box .svg svg {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
}
.features .features-wrap {
  margin-top: 80px;
}
.features .features-wrap__grid--left img {
  display: block;
  width: 100%;
}

/** FAQ **/
.faq {
  padding: 80px 0;
}
.faq .faq-wrap {
  margin-top: 2.5rem;
}

.accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
}
.accordion-item .accordion-content {
  display: none;
}
.accordion-item .accordion-header button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  justify-content: space-between;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  cursor: pointer;
}
.accordion-item .accordion-header button .svg-down {
  display: block;
}
.accordion-item .accordion-header button .svg-up {
  display: none;
}
.accordion-item .accordion-header button.active {
  color: #111;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.accordion-item .accordion-header button.active .svg-up {
  display: block;
}
.accordion-item .accordion-header button.active .svg-down {
  display: none;
}
.accordion-item .accordion-body {
  padding: 1rem 1.25rem;
}
.accordion-item .accordion-body p {
  margin-bottom: 1rem;
}
.accordion-item .accordion-body ul,
.accordion-item .accordion-body ol {
  list-style: initial;
  margin-left: 17px;
}
.accordion-item .accordion-body ul li:not(last-child),
.accordion-item .accordion-body ol li:not(last-child) {
  margin-bottom: 0.5rem;
}
.accordion-item .accordion-body a {
  color: initial;
}

/** price **/
.price {
  padding: 80px 0px;
}

.price-tab__item {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 4px 10px rga(212, 2, 39, 0.08);
  box-shadow: 1px 4px 10px rgba(19, 133, 92, 0.1);
  border-radius: 10px;
  padding: 50px 30px 70px 30px;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px #eee solid;
  cursor: pointer;
}
.price-tab__item .item__icon {
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.price-tab__item .item__icon svg path {
  fill: #fff;
}
.price-tab__item .item__name {
  font-size: 23px;
  margin-bottom: 0;
  font-weight: bold;
}
.price-tab__item .price {
  font-weight: 600;
  margin-top: 15px;
  display: inline-block;
}
.price-tab__item .price del {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
}
.price-tab__item .price del span {
  font-size: 20px;
}
.price-tab__item .price span {
  display: block;
  line-height: 1.4;
}
.price-tab__item .price ins {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.price-tab__item .separate {
  width: 70px;
  min-height: 3px;
  max-height: 3px;
  background-color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.price-tab__item .item__desc {
  font-size: 16px;
  margin-bottom: 0;
}
.price-tab__item .price-js-show-more {
  margin: 15px -30px 0 -30px;
}
.price-tab__item .price-js-show-more button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid transparent;
  border-radius: 0 0 8px 8px;
}
.price-tab__item ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
  margin-top: 20px;
}
.price-tab__item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.4;
  position: relative;
}
.price-tab__item ul li.checked {
  padding-left: 25px;
}
.price-tab__item ul li.checked:before {
  content: "";
  position: absolute;
  left: 0px;
  top: calc(50% - 7px);
  z-index: 99;
  width: 18px;
  height: 14px;
  background: url("../images/checked.png") no-repeat center;
}
.price-tab__item ul li.close {
  padding-left: 25px;
}
.price-tab__item ul li.close:after {
  content: "";
  position: absolute;
  left: 0px;
  top: calc(50% - 6.5px);
  z-index: 99;
  width: 14px;
  height: 13px;
  background: url("../images/close.png") no-repeat center;
}
.price-tab__item .item__button {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  width: max-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 13px 30px 15px 37px;
  margin-top: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  text-decoration: none;
}
.price-tab__item .item__button:after {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1' fill='white'%3E%3Cpath d='M10 4.99951L9.10625 5.87014L12.5938 9.37451H5V10.6245H12.5938L9.10625 14.1076L10 14.9995L15 9.99951L10 4.99951Z'/%3E%3C/mask%3E%3Cpath d='M10 4.99951L9.10625 5.87014L12.5938 9.37451H5V10.6245H12.5938L9.10625 14.1076L10 14.9995L15 9.99951L10 4.99951Z' fill='white'/%3E%3Cpath d='M10 4.99951L12.1213 2.87819L10.0276 0.784492L7.90666 2.85057L10 4.99951ZM9.10625 5.87014L7.01291 3.7212L4.84087 5.83704L6.97982 7.98633L9.10625 5.87014ZM12.5938 9.37451V12.3745H19.8117L14.7202 7.25832L12.5938 9.37451ZM5 9.37451V6.37451H2V9.37451H5ZM5 10.6245H2V13.6245H5V10.6245ZM12.5938 10.6245L14.7137 12.7472L19.8428 7.62451H12.5938V10.6245ZM9.10625 14.1076L6.98626 11.985L4.86005 14.1085L6.98716 16.2312L9.10625 14.1076ZM10 14.9995L7.88091 17.1231L10.0022 19.2399L12.1213 17.1208L10 14.9995ZM15 9.99951L17.1213 12.1208L19.2426 9.99951L17.1213 7.87819L15 9.99951ZM7.90666 2.85057L7.01291 3.7212L11.1996 8.01908L12.0933 7.14845L7.90666 2.85057ZM6.97982 7.98633L10.4673 11.4907L14.7202 7.25832L11.2327 3.75394L6.97982 7.98633ZM12.5938 6.37451H5V12.3745H12.5938V6.37451ZM2 9.37451V10.6245H8V9.37451H2ZM5 13.6245H12.5938V7.62451H5V13.6245ZM10.4738 8.50186L6.98626 11.985L11.2262 16.2303L14.7137 12.7472L10.4738 8.50186ZM6.98716 16.2312L7.88091 17.1231L12.1191 12.876L11.2253 11.9841L6.98716 16.2312ZM12.1213 17.1208L17.1213 12.1208L12.8787 7.87819L7.87868 12.8782L12.1213 17.1208ZM17.1213 7.87819L12.1213 2.87819L7.87868 7.12083L12.8787 12.1208L17.1213 7.87819Z' fill='white' mask='url(%23path-1-inside-1)'/%3E%3Cmask id='path-3-inside-2' fill='white'%3E%3Cpath d='M10 18.7495C8.26942 18.7495 6.57769 18.2363 5.13876 17.2749C3.69983 16.3134 2.57832 14.9468 1.91606 13.348C1.25379 11.7491 1.08051 9.98981 1.41813 8.29248C1.75575 6.59514 2.58911 5.03604 3.81282 3.81233C5.03653 2.58862 6.59563 1.75527 8.29296 1.41764C9.9903 1.08002 11.7496 1.2533 13.3485 1.91557C14.9473 2.57784 16.3139 3.69935 17.2754 5.13828C18.2368 6.57721 18.75 8.26893 18.75 9.99952C18.7474 12.3193 17.8246 14.5434 16.1843 16.1838C14.5439 17.8241 12.3198 18.7469 10 18.7495ZM10 2.49952C8.51664 2.49952 7.0666 2.93938 5.83323 3.76349C4.59986 4.5876 3.63856 5.75894 3.07091 7.12939C2.50325 8.49984 2.35473 10.0078 2.64411 11.4627C2.9335 12.9176 3.64781 14.2539 4.6967 15.3028C5.7456 16.3517 7.08197 17.066 8.53683 17.3554C9.99168 17.6448 11.4997 17.4963 12.8701 16.9286C14.2406 16.361 15.4119 15.3997 16.236 14.1663C17.0601 12.9329 17.5 11.4829 17.5 9.99952C17.4977 8.0111 16.7068 6.10479 15.3007 4.69877C13.8947 3.29275 11.9884 2.50183 10 2.49952Z'/%3E%3C/mask%3E%3Cpath d='M10 18.7495C8.26942 18.7495 6.57769 18.2363 5.13876 17.2749C3.69983 16.3134 2.57832 14.9468 1.91606 13.348C1.25379 11.7491 1.08051 9.98981 1.41813 8.29248C1.75575 6.59514 2.58911 5.03604 3.81282 3.81233C5.03653 2.58862 6.59563 1.75527 8.29296 1.41764C9.9903 1.08002 11.7496 1.2533 13.3485 1.91557C14.9473 2.57784 16.3139 3.69935 17.2754 5.13828C18.2368 6.57721 18.75 8.26893 18.75 9.99952C18.7474 12.3193 17.8246 14.5434 16.1843 16.1838C14.5439 17.8241 12.3198 18.7469 10 18.7495ZM10 2.49952C8.51664 2.49952 7.0666 2.93938 5.83323 3.76349C4.59986 4.5876 3.63856 5.75894 3.07091 7.12939C2.50325 8.49984 2.35473 10.0078 2.64411 11.4627C2.9335 12.9176 3.64781 14.2539 4.6967 15.3028C5.7456 16.3517 7.08197 17.066 8.53683 17.3554C9.99168 17.6448 11.4997 17.4963 12.8701 16.9286C14.2406 16.361 15.4119 15.3997 16.236 14.1663C17.0601 12.9329 17.5 11.4829 17.5 9.99952C17.4977 8.0111 16.7068 6.10479 15.3007 4.69877C13.8947 3.29275 11.9884 2.50183 10 2.49952Z' fill='white'/%3E%3Cpath d='M18.75 9.99952L21.75 10.0029V9.99952H18.75ZM17.5 9.99952H20.5L20.5 9.99602L17.5 9.99952ZM10 15.7495C8.86276 15.7495 7.75106 15.4123 6.80547 14.7805L3.47205 19.7693C5.40433 21.0604 7.67607 21.7495 10 21.7495V15.7495ZM6.80547 14.7805C5.85989 14.1486 5.1229 13.2506 4.6877 12.1999L-0.855581 14.496C0.033749 16.6431 1.53978 18.4782 3.47205 19.7693L6.80547 14.7805ZM4.6877 12.1999C4.25249 11.1493 4.13862 9.99314 4.36049 8.87775L-1.52422 7.7072C-1.9776 9.98648 -1.74491 12.349 -0.855581 14.496L4.6877 12.1999ZM4.36049 8.87775C4.58235 7.76236 5.12999 6.7378 5.93414 5.93365L1.6915 1.69101C0.0482317 3.33428 -1.07085 5.42793 -1.52422 7.7072L4.36049 8.87775ZM5.93414 5.93365C6.73829 5.1295 7.76284 4.58187 8.87823 4.36L7.70769 -1.52471C5.42842 -1.07134 3.33477 0.0477434 1.6915 1.69101L5.93414 5.93365ZM8.87823 4.36C9.99363 4.13814 11.1498 4.252 12.2004 4.68721L14.4965 -0.856069C12.3495 -1.7454 9.98697 -1.97809 7.70769 -1.52471L8.87823 4.36ZM12.2004 4.68721C13.2511 5.12241 14.1491 5.8594 14.781 6.80499L19.7698 3.47157C18.4787 1.53929 16.6436 0.0332607 14.4965 -0.856069L12.2004 4.68721ZM14.781 6.80499C15.4128 7.75057 15.75 8.86227 15.75 9.99952H21.75C21.75 7.67559 21.0609 5.40384 19.7698 3.47157L14.781 6.80499ZM15.75 9.99609C15.7483 11.5215 15.1415 12.9839 14.0629 14.0625L18.3056 18.3051C20.5077 16.103 21.7464 13.1172 21.75 10.0029L15.75 9.99609ZM14.0629 14.0625C12.9843 15.1411 11.5219 15.7478 9.99658 15.7495L10.0034 21.7495C13.1177 21.746 16.1034 20.5072 18.3056 18.3051L14.0629 14.0625ZM10 -0.500484C7.9233 -0.500484 5.89323 0.11533 4.16652 1.26908L7.49994 6.2579C8.23996 5.76344 9.10999 5.49952 10 5.49952V-0.500484ZM4.16652 1.26908C2.4398 2.42284 1.09399 4.06272 0.299269 5.98134L5.84255 8.27744C6.18314 7.45517 6.75992 6.75237 7.49994 6.2579L4.16652 1.26908ZM0.299269 5.98134C-0.495451 7.89996 -0.703386 10.0112 -0.298241 12.048L5.58647 10.8774C5.41284 10.0045 5.50195 9.09971 5.84255 8.27744L0.299269 5.98134ZM-0.298241 12.048C0.106903 14.0848 1.10693 15.9557 2.57538 17.4241L6.81802 13.1815C6.18869 12.5522 5.7601 11.7503 5.58647 10.8774L-0.298241 12.048ZM2.57538 17.4241C4.04383 18.8926 5.91476 19.8926 7.95156 20.2978L9.1221 14.413C8.24918 14.2394 7.44736 13.8108 6.81802 13.1815L2.57538 17.4241ZM7.95156 20.2978C9.98836 20.7029 12.0996 20.495 14.0182 19.7003L11.7221 14.157C10.8998 14.4976 9.99501 14.5867 9.1221 14.413L7.95156 20.2978ZM14.0182 19.7003C15.9368 18.9055 17.5767 17.5597 18.7304 15.833L13.7416 12.4996C13.2472 13.2396 12.5443 13.8164 11.7221 14.157L14.0182 19.7003ZM18.7304 15.833C19.8842 14.1063 20.5 12.0762 20.5 9.99952H14.5C14.5 10.8895 14.2361 11.7596 13.7416 12.4996L18.7304 15.833ZM20.5 9.99602C20.4968 7.21317 19.3898 4.54523 17.4221 2.57745L13.1794 6.82009C14.0237 7.66436 14.4986 8.80903 14.5 10.003L20.5 9.99602ZM17.4221 2.57745C15.4543 0.609678 12.7863 -0.497241 10.0035 -0.500482L9.99651 5.49951C11.1905 5.5009 12.3352 5.97582 13.1794 6.82009L17.4221 2.57745Z' fill='white' mask='url(%23path-3-inside-2)'/%3E%3C/svg%3E%0A");
  height: 16px;
  margin-left: 10px;
}
.price-tab__item .highlights-tag {
  position: absolute;
  right: 15px;
  top: -8px;
  padding: 16px 10px 60px 10px;
  font-weight: 700;
  color: #ffe351;
  background-image: url("data:image/svg+xml,%3Csvg width='89' height='120' viewBox='0 0 89 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H89V120L44.5 72L0 120V0Z' fill='%23D42027'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
.price-tab__item:hover {
  -webkit-box-shadow: 2px 4px 17px 8px rgba(212, 32, 39, 0.0784313725);
  box-shadow: 2px 4px 17px 8px rgba(212, 32, 39, 0.0784313725);
  border-color: var(--primary-color-green);
}

.item-highlights .price-tab__item {
  margin-top: -50px;
  background-color: var(--primary-color-green);
  border-color: var(--primary-color-green);
  color: #fff;
}
.item-highlights .price-tab__item:hover {
  margin-top: -60px;
}

.price-wrap {
  margin-top: 5.5rem;
}

/** Project **/
.project {
  padding: 80px 0;
  background: #fff;
}

.box-project {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  max-height: 400px;
}
.box-project:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.box-project__image img {
  transition: 1s;
}
.box-project__info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-project__info:before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.box-project__info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.box-project__info h4 {
  font-size: 20px;
  color: #13855c;
  font-weight: 700;
}
.box-project__info p {
  color: #13855c;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.box-project__link {
  text-align: center;
  z-index: 4;
}
.box-project__link a {
  color: #fff;
  background: var(--primary-main);
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.box-project__link a i {
  font-size: 24px;
  line-height: 0;
}
.box-project:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.box-project:hover img {
  transform: scale(1.1);
}
.box-project:hover .box-project__info {
  opacity: 1;
}

/** Blog **/
.recent-blog-posts {
  background: #f7f7f7;
  padding: 80px 0;
}

.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
  text-align: center;
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
  font-size: 14px;
  font-weight: 600;
  color: #444444;
  display: block;
  margin-bottom: 10px;
}

.post-box .post-desc {
  font-size: 15px;
  line-height: 1.5;
}

.recent-blog-posts .post-box .post-title {
  font-size: 18px;
  color: var(--primary-main);
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  line-height: 1;
  transition: 0.3s;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--primary-main);
}
.recent-blog-posts .post-box .readmore span {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 3px;
  background: transparent linear-gradient(179deg, #1ae6cd 0%, #08afb8 100%) 0% 0% no-repeat padding-box;
  color: #fff;
}

.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 16px;
}

.recent-blog-posts .post-box:hover .post-title {
  color: var(--primary-main);
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

footer {
  border-top: 7px solid #ef7f41;
  background: #ebebee;
}

.footer-copyright {
  background: #043b3f;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}
.footer-copyright a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.footer-top {
  background: url("../images/background_footer.svg") no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-infomations {
  margin-top: 30px;
}

.items-f {
  display: flex;
}
.items-f:not(:last-child) {
  margin-bottom: 15px;
}
.items-f .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
  background: #fff;
}
.items-f .items-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  width: calc(100% - 55px);
  font-size: 14px;
}
.items-f .items-info a {
  color: #fff;
  text-decoration: none;
}

.heading-footer {
  margin-top: 1rem;
  margin-bottom: 15px;
}
.heading-footer h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 12px;
}

.list-footer {
  color: rgba(26, 230, 205, 0.3);
  padding-left: 22px;
  margin-bottom: 17px;
  list-style: initial;
}
.list-footer li {
  margin-bottom: 17px;
}
.list-footer a {
  color: #bdcccc;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  transition: all 0.3s;
  display: block;
  text-decoration: none;
}

.btnFormPrice {
  background: url("../images//btn_telegram.svg");
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 55px;
  height: 40px;
  border: 0px;
  cursor: pointer;
}

.formPrice textarea,
.formPrice input, .formPrice select {
  background: rgba(0, 47, 51, 0.3);
  border-radius: 2px;
  border: 1px solid rgba(0, 29, 25, 0.1);
  color: white;
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 2px;
  transition: all 0.2s;
  width: 100%;
  padding: 12px 18px;
}
.formPrice input, .formPrice select {
  height: 40px;
  margin-bottom: 10px;
}

.formPrice-phone input {
  margin-bottom: 0;
}/*# sourceMappingURL=app.css.map */