body {
  background: #fff;
  background-color: #f1f5f5;
  font-family: "Nunito", sans-serif;
  line-height: 27px;
}

*,
::after,
::before {
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  color: initial;
}

.f-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.c-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.col-md-6 {
  width: calc(100% / 2);
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-4 {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  width: calc(25% - 30px);
  padding-left: 15px;
  padding-right: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.heading-main__title {
  color: #3a3b54 !important;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.heading-main__desc {
  color: #7f8893 !important;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 34px;
  margin: 0 auto;
  margin-top: 20px !important;
  max-width: 800px;
  text-align: center;
}

.header-hotline {
  margin-left: 25px;
}

.phone-menu {
  padding: 29.5px 0;
}

.phone-menu a {
  color: #fff;
  padding: 14px 34px 14px 26px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  line-height: 1;
  background: transparent linear-gradient(179deg, #1AE6CD 0%, #08AFB8 100%) 0% 0% no-repeat padding-box;
  box-shadow: 3px 9px 6px #00AFB529;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
  text-shadow: 1px 1px 0px #1FA6AA;
  text-decoration: none;
}

.phone-menu a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 0px;
}

.header-menu ul {
  display: inline-table;
}

.header-menu ul li {
  display: inline-block;
  position: relative;
}

.header-menu .menu .menu-item a {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  padding: 42px 15px;
  text-transform: capitalize;
  transition: all 300ms ease-in-out 0s;
  text-decoration: none;
  font-weight: bold;
}

.header-menu .menu .menu-item.active a {
  color: #08AFB8;
}

.header-menu .menu .sub-menu {
  background: none repeat scroll 0 0 #fff;
  border-top: 0 none;
  left: 17px;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  visibility: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  position: absolute;
  top: 70%;
  padding: 0;
  width: 300px;
  background-color: #fff !important;
  border-radius: 8px;
}

.header-menu .menu .sub-menu:after {
  top: -15px;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.25s;
  left: 10%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.header-menu .menu .sub-menu li {
  display: list-item;
  list-style: none;
  margin: 5px 0;
}

.header-menu .menu .sub-menu li a {
  line-height: normal;
  padding: 8px !important;
  text-transform: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  transition: all 300ms ease-in-out 0s;
}

.header-menu .sub-menu .menu-item:hover {
  background: #08afb8;
}

.header-menu .sub-menu .menu-item:hover > a {
  padding-left: 8px !important;
  color: white;
}

.header-menu .sub-menu .sub-menu {
  position: absolute;
  left: 105%;
  top: -5px;
}

.header-menu .sub-menu .sub-menu:after {
  top: 10px;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.25s;
  left: -2.5%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
  transform: rotate(270deg);
}

.header-menu .main-item:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.header-menu .menu-item-sub:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.about {
  padding-top: 80px;
}

.about .about-left {
  width: 100%;
  max-width: 650px;
}

.about-left__infomation--heading {
  font-size: 34px;
  color: #3a3b54;
  line-height: 130%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.about-left__infomation--slogan {
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 0px;
  color: #ee6f28 !important;
  font-weight: bold;
}

.about-left__infomation--description {
  font-size: 16px;
  line-height: 34px;
  margin: 2rem 0;
}

.about-left__infomation--action a {
  font-weight: bold;
  border-radius: 8px !important;
  opacity: 1;
  border-width: 0 !important;
  text-align: center;
  font-size: 16px !important;
  line-height: 21px !important;
  letter-spacing: 0;
  text-transform: none !important;
  padding: 17px 40px !important;
  color: #3a3b54;
  text-decoration: none;
}

.about-left__infomation--action a:hover {
  transform: translateY(-5px);
  box-shadow: 3px 17px 8px -5px rgba(255, 161, 81, 0.27);
}

.about-left__infomation--action a.action-contact {
  background: transparent linear-gradient(180deg, #1ae6cd 0%, #08afb8 100%) 0% 0% no-repeat padding-box !important;
  text-shadow: 1px 1px 0px #1fa6aa;
  transition: all 0.3s;
  box-shadow: 3px 9px 6px rgba(0, 175, 181, 0.15);
  color: rgba(255, 255, 255, 0.99);
}

.about-left__infomation--action a.action-hotline {
  margin-left: 1.5rem;
  background: transparent linear-gradient(180deg, #ffffff 0%, #ffffff 70%, #f1f5f5 100%) 0% 0% no-repeat padding-box !important;
  box-shadow: 2px 8px 8px #00000014;
  text-shadow: 1px 1px 0px #f1f5f5;
  transition: all 0.3s;
}

.business {
  padding: 80px 0;
  background: #fff;
}

/** ################################# **/
.why {
  padding: 80px 0px;
}

.why-wrap {
  margin-top: 2.5rem;
}

.why-wrap__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.why-wrap__grid .item-why {
  width: calc(100% / 3);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.why-wrap__grid .item-why .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  background: #fff;
}

.why-wrap__grid img {
  width: 100%;
  display: block;
}

.why-wrap__grid .box .figure {
  margin: 0px;
}

.why-wrap__grid .box h3 {
  font-size: 24px;
  color: #13855c;
  font-weight: 700;
  margin-bottom: 18px;
  margin: 1rem 0px;
}

/** ################################# **/
.features {
  padding: 80px 0px;
  background: #fff;
}

.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  cursor: pointer;
  background: #fff;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #13855c;
  font-weight: 700;
  margin: 0;
}

.features .feature-box .svg {
  display: block;
  line-height: 0;
  height: 32px;
  width: 32px;
  position: relative;
  background: #ecf3ff;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box .svg:hover {
  background: #1cc88a;
  color: #fff;
}

.features .feature-box .svg svg {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
}

.features .features-wrap {
  margin-top: 80px;
}

.features .features-wrap__grid--left img {
  display: block;
  width: 100%;
}

/** FAQ **/
.faq {
  padding: 80px 0;
}

.faq .faq-wrap {
  margin-top: 2.5rem;
}

.accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
}

.accordion-item .accordion-content {
  display: none;
}

.accordion-item .accordion-header button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  justify-content: space-between;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  cursor: pointer;
}

.accordion-item .accordion-header button .svg-down {
  display: block;
}

.accordion-item .accordion-header button .svg-up {
  display: none;
}

.accordion-item .accordion-header button.active {
  color: #111;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.accordion-item .accordion-header button.active .svg-up {
  display: block;
}

.accordion-item .accordion-header button.active .svg-down {
  display: none;
}

.accordion-item .accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-item .accordion-body p {
  margin-bottom: 1rem;
}

.accordion-item .accordion-body ul,
.accordion-item .accordion-body ol {
  list-style: initial;
  margin-left: 17px;
}

.accordion-item .accordion-body ul li:not(last-child),
.accordion-item .accordion-body ol li:not(last-child) {
  margin-bottom: 0.5rem;
}

.accordion-item .accordion-body a {
  color: initial;
}

/** price **/
.price {
  padding: 80px 0px;
}

/** Project **/
.project {
  padding: 80px 0;
  background: #fff;
}

footer {
  border-top: 7px solid #ef7f41;
  background: #ebebee;
}

.footer-copyright {
  background: #043b3f;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}

.footer-copyright a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.footer-top {
  background: url("../images/background_footer.svg") no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-infomations {
  margin-top: 30px;
}

.items-f {
  display: flex;
}

.items-f:not(:last-child) {
  margin-bottom: 15px;
}

.items-f .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
  background: #fff;
}

.items-f .items-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  width: calc(100% - 55px);
  font-size: 14px;
}

.items-f .items-info a {
  color: #fff;
  text-decoration: none;
}

.heading-footer {
  margin-bottom: 15px;
}

.heading-footer h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 12px;
}

.list-footer {
  color: rgba(26, 230, 205, 0.3);
  padding-left: 22px;
  margin-bottom: 17px;
  list-style: initial;
}

.list-footer li {
  margin-bottom: 17px;
}

.list-footer a {
  color: #bdcccc;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  transition: all 0.3s;
  display: block;
  text-decoration: none;
}

.btnFormPrice {
  background: url("../images//btn_telegram.svg");
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 55px;
  height: 40px;
  border: 0px;
}

.formPrice textarea,
.formPrice input, .formPrice select {
  background: rgba(0, 47, 51, 0.3);
  border-radius: 2px;
  border: 1px solid rgba(0, 29, 25, 0.1);
  color: white;
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 2px;
  transition: all 0.2s;
  width: 100%;
  padding: 12px 18px;
}

.formPrice input, .formPrice select {
  height: 40px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=app.css.map */